* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#viewer {
  width: 100vw;
  height: 100vh;
}

/* Controls Styling */
.controls {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
}

button {
  background-image: linear-gradient(45deg, #525252, transparent);
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
}

button:hover {
  background-image: linear-gradient(45deg, transparent, #525252);
}
